[submodule "tchux"]
    path = tchux
    url = https://github.com/francisc0arauj0/tchux

[submodule "tchboot"]
    path = tchboot
    url = https://github.com/francisc0arauj0/tchboot

[submodule "tchbuild"]
    path = tchbuild
    url = https://github.com/francisc0arauj0/tchbuild

[submodule "tchlib"]
    path = tchlib
    url = https://github.com/francisc0arauj0/tchlib

